h1 {
  font-size: 2vw;
  text-align: left;
}

h2 {
  font-style: italic;
  font-size: 1vw;
  text-align: left;
}

h3 {
font-size: 1vw;
text-align: center;
padding: 2em 0em 0em 0em;
}

h4 {
  font-size: 1vw;
  text-align: center;
  }

p {
font-size: 1vw;
margin: 2em 3em 8em 3em;
text-align: left;
line-height: 1.7em;
}

#logo {
  max-width: 3em;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 1em;
}

#pictures {
  width: 100%;
  max-width: 30em;
  max-height: 30em;
  height: auto;
  margin: 0em 5em 1em 5em;
  border-radius: 10px;
}

#like {
  background-color: rgb(22, 10, 73);
  float: left;
  margin: 0em 0em 0em 13em;
  border-radius: 25px;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.5em;
}

#like:hover {
  background-color: beige;
  color: black;
}

#unlike {
  background-color: rgb(22, 10, 73);
  float: left;
  margin: 0em 0em 0em 1em;
  border-radius: 25px;
  color: white;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.5em;
}

#unlike:hover {
  background-color: beige;
  color: black;
}

#post {
border-width: 0.5em;
border-style:solid;
border-color: rgb(22, 10, 73);
background-color: white;
}

#topnav {
  background-image:url("https://c0.wallpaperflare.com/preview/739/467/791/4k-wallpaper-astro-astrology-astronomy.jpg");
  overflow: hidden;
  height: 6em;
  position: fixed;
  top: 0;
  width: 100%;
}

#botnav {
  background-image:url("https://c0.wallpaperflare.com/preview/739/467/791/4k-wallpaper-astro-astrology-astronomy.jpg");
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3em;
}

#name:hover {
  color: black;
}

#name {
  float:left;
  text-align: center;
  padding: 0em;
  margin: 0.6em;
  text-decoration: none;
  font-size: 2em;
  font-family: cursive;
  font-style: italic;
  color: white;
}

#pop {
  font-size: 0.8em;;
  font-weight: bold;
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 2em 0em 0em 6em;
  margin: 2em 0em 0em 2em;
}